@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
body {
  background-color: black;
}
.main {
  height: 70vh;
  background-image: url(img/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  position: relative;
}
.main .box {
  width: 100%;
  height: 70vh;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  height: 100px;
}
nav img {
  position: relative;
  width: 130px;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Martel Sans", serif;
  gap: 23px;
  padding: 0 30px;
}
.hero > :first-child {
  font-size: 48px;
  font-weight: 610;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.separation {
  height: 6px;
  background-color: rgba(105, 105, 105, 0.347);
}
.btn {
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
  padding: 2px 12px;
  font-weight: 550;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.red-sm {
  background-color: red;
  color: white;
}
.red-btn {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
}
.main input {
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
  padding: 7px 101px 8px 15px;
  font-size: 12px;
  border-radius: 4px;
}
.main input::placeholder {
  color: white;
  opacity: 70%;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.first-section {
  max-width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
}
.secIMG {
  position: relative;
}
.secIMG img {
  width: 30vw;
  position: relative;
  z-index: 10;
}
.secIMG video {
  width: 25vw;
  position: absolute;
  top: 52px;
  right: 16px;
}
.first-section > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}
.first-section > div :nth-child(2) {
  font-size: 24px;
}
.first-section > div {
  display: flex;
  flex-direction: column;
}
.faqbox {
  display: flex;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 80vw;
  margin: auto;
  margin-bottom: 10px;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.faqbox:hover {
    background-color: rgb(69, 69, 69);
  }
.faq{
    background: black;
    color: rgb(255, 255, 255);
}
.faq h2{
    text-align: center;
    padding: 34px;
    font-size: 48px;
}
.faqbox svg{
    filter: invert(1);
}
.Updates input{
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
  padding: 7px 101px 8px 15px;
  font-size: 20px;
  border-radius: 4px;
}
.Updates{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 3rem 0;
    gap: 1em;
}
.Updates span{
    align-self: center;
    color: white;
}
footer{
  color:white;
  margin: auto;
  max-width: 60vw;
  padding: 34px;
}
.footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer a{
  color: gray;
  font-size: 14px;
}
.footer-item{
  gap: 23px;
  display: flex;
  flex-direction: column;
}
footer .questions{
  color: gray;
  padding: 34px 0;
}
.last-div{
  max-width: 7vw;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 35px 0;
}
.last-div span{
  color: gray;
  font-size: 14px;
}
.last-div button{
  background-color: rgba(15, 15, 15, 1);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  line-height: 1.25rem;
  padding-top: 0.375rem;
  padding-right: calc(2.25rem + 0rem);
  padding-bottom: 0.375rem;
  padding-left: calc(0.625rem + 1rem + 0.1rem);
}